logging:
  level:
    org:
      springframework:
        web: DEBUG
  config: classpath:log4j-spring.xml
server:
  servlet:
    context-path: /alpha-sound
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connectionTimeout: 30000
      idleTimeout: 100000
      maxLifetime: 900000
      maximum-pool-size: 20
      minimum-idle: 10
    tomcat:
      connection-properties: stringtype=unspecified
    url: jdbc:${DATABASE_URL:}
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  jpa:
    generate-ddl: false
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        dialect: org.hibernate.dialect.PostgreSQL10Dialect
        format_sql: true
        default_schema: alpha_sound
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: none
  main:
    allow-bean-definition-overriding: true
  messages:
    basename: static/i18n/message
  web:
    locale: en_US
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
  security:
    oauth2:
      resourceserver:
        opaquetoken:
          introspection-uri: ${AUTH_SERVICE:}
          client-id: ${CLIENT_ID:}
          client-secret: ${CLIENT_SECRET:}
        jwt:
          jwk-set-uri: ${JWKS_ENDPOINT:}
storage:
  storage-type: cloudinary
  temp: ${TEMP_DIR:}
  cloudinary:
    url: ${CLOUDINARY_URL:}
  firebase:
    database-url: ${FIREBASE_DATABASE_URL:}
    storage-bucket: ${FIREBASE_STORAGE_BUCKET:}
    credentials: ${FIREBASE_CREDENTIALS:}
  local:
    upload-dir: ${UPLOAD_DIR:}
custom:
  http-port: 8085
  https-port: 8086
  security-policy: CONFIDENTAL
  connector-scheme: http
  trust-store-password: ${SSL_TRUSTSTORE_PASSWORD:}
  trust-store-type: JKS
